<div class="row">
<div class=" small-centered columns width-change">
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to  omniauth_authorize_path(resource_name, provider), id: 'instagram-login', class: "animated  pulse" do %><%= image_tag "http://www.salmontini.co.uk/wp-content/themes/salmontini/img/icon-instagram.png", id: 'instagram-icon' %> <%= "Login with #{provider.to_s.titleize}" %><% end %>
  <% end -%>
<% end -%>
  </div>
