<div class="landing-page-container">


<%= image_tag "https://s3-eu-west-1.amazonaws.com/foodsee/uploads/app_elements/foodseelogo-lrg.png", id:"foodseelogo-lrg", class: "animated fadeInDown" %>
  <h2 id="tagline">Discover & Devour Food Locally </h2>
<%= render "devise/shared/links" %>

</div>