<div class="landing-page-container">


<%= image_tag "https://s3-eu-west-1.amazonaws.com/foodsee/uploads/app_elements/foodseelogo-large.png", id: 'foodseelogo-large' %>
<%= render "devise/shared/links" %>

</div>