

<div class="my-photos-list">


<% if current_user == @user %>
<%=  render 'nav' %>
 <h2>  Your Favorite Meals</h2>
<% else %>
  <h2><%= @user.name %>'s Favorite Meals</h2>
<% end %>
</h2> 

<%= render  @images %>
</div>