* {
  margin: 0;
}
html, body {
  height: 100%;
}
div.fixed {
  margin-bottom: 200px;
  position:fixed;
}
.nav-button:hover {
  background-color:#4B769A;
  height:100%;
}
a.but, button.but {
  border-radius: 8px;
  width:100%;
  background-color: #5980A2;
 color:white;
 padding:8px;
 max-width: 100px;
 margin:auto;
}
a.but:hover, button.but:hover {
  background-color:#EE352A;

}
.wrapper {
  height: 100%;
  margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}
.change-width {
  width:150px;
}
div.main-container {
  margin:1em;
}
input[type="submit"] {
  color:white;
  background-color: #EE352A;
  border-radius: 8px;
  border-color:#EE352A;

}
a#foodsee-logo-link {
  margin:10px;
}
h2 {
  font-weight: 700;
}
h2#tagline {
  font-size: 15px;
  text-align: center;
  color:white;
  margin-bottom: 20px;
}
.restaurant-title {
  display:inline-block;
}
.sticky{
  position:fixed;
  z-index:999;
}
.landing-page-container {
  margin:0;
  background-color: #EE352A;
  float:right;
}

.landing-page {
  background-color:#EE352A;
}
#foodseelogo-lrg {
  text-align: center;
  max-width: 500px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-top: 25px;
  margin-bottom: 75px;
}

a#instagram-login {
  margin-left: auto;
  margin-right: auto;
  display:block;
  text-align: center;
  color:white;
  width:250px;
  background-color:#5980A2;
  padding:5px;
  border-radius:10px;
  #instagram-icon {
    width:50px;
    margin-right: 10px;
    margin-left: -10px;
  }
}
.width-change {
  width:300px;
}


.footer {
  text-align: center;
  color:white;
  background-color:  #EE352A;
  bottom:0;
  position:fixed;
  width:100%;
}
.footer, .push {
  height: 3em; /* '.push' must be the same height as 'footer' */
}
.footer span a {
  color:white;
  opacity: 0.5;
  line-height: 50px;
}
img#camera-button {
  width:80px;
  margin-top: -20px;
  padding:8px;
}
img#my-photos-button {
  width:3em;
}
 img#restaurant-icon {
  padding-top:0.1em;
  width:2.7em;
}

div.header-bg-color {
  background-color:  #EE352A;
}



div.landing-page-main-container {
  width:1000px;
  margin:auto;
}
div.divider {
  height:150px;
}
div.app-store > div.wrapper-apps {
  display:inline-block;
  width:150px;
  float:right;
}

div.app-store > div.wrapper-apps > div > img {
  display:inline-block;
  float:none;
}
div.app-store > div.wrapper-apps{
  width:400px;
}
li.name.top-bar.center {
  overflow: auto;
}
.store-image {
  float:left;
  margin-top:3px;
}
.phone-image-container  {
  float:left;
}
.responsive-button {
  display:none;
}
a#search-icon {
  display:none;
}
a.desktop-button, button.desktop-button {
  width:150px;
  padding:8px;
  color:white;
  background-color:#5980A2;
  border-radius:5px;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (max-width: 1000px) {
  #foodseelogo-lrg {
    max-width:400px;
  }
  div.landing-page-main-container {
    width:700px;
    margin:auto;
  }
  div.phone-image-container img {
    margin-top: 50px;
    width:300px;
  }
  div.app-store > div.wrapper-apps { 
    width:340px;}
}
@media screen and (max-width: 640px) {
  .responsive-button {
    
  }
  img.nav-logo {
    max-width:80%;
  }

  section.top-bar-section {
    width:100%;
    li.title.back.js-generated {
      a {
        font-size: 0.8rem;
      }

        }
        li.title.back.js-generated:hover {
          background-color: #5980A2;
        }
    li {
      border-top:1px solid rgba(255,255,255,0.4);
    }
  }

  input.submit-selection {
    display:block;
    
  }
  img#search-icon-image {
    width:1.75em;
  }
  img#hamburger-image {
    margin-top: 0.3em;
    width:2.6em;
  }
  a#search-icon {
   display:block;
   margin-left:auto;
   margin-right: auto;
 }
 li.top-bar-right {
  width:33%;
  

  }

li.name {
  width:33%;
  padding-right:10px;
}
li.top-bar-left {
  width:33%;
}
.desktop-button {
  display:none;
}
.responsive-button {
 display:block;
}

div.landing-page-container {
  float:none;
  max-width:400px;
  margin-left: auto;
  margin-right: auto;
}
div.landing-page-main-container {
  width:100%;
}
div.divider, div.app-store, div.phone-image-container, div.phone-image-container > div {
  display:none;
  float:none;
}



img#my-photos-button {
  width:3em;
  margin-top:-0.3em;
}


.wrapper {
 height: 100%;
   margin: 0 auto -2.5em; /* the bottom margin is the negative value of the footer's height */
 }
  img#restaurant-icon {
   padding-top:0.1em;
   width:2.5em;
 }
.footer, .push {
    height: 2.5em; /* '.push' must be the same height as 'footer' */
  }
  img#camera-button {
    width:4em;
  }
  a#instagram-login {
    padding:10px;
    width:200px;
  }
  a#instagram-login #instagram-icon {
    width:25px;
    padding-left:5px;
  }
  #foodseelogo-lrg {
    max-width:275px;

  }
}

