* {
margin: 0;
}
html, body {
  height: 100%;
}
div.fixed {
  margin-bottom: 200px;
  position:fixed;
}
.nav-button:hover {
  background-color:#4B769A;
  border-radius:5px;
  height:100%;
  padding-bottom:10px;
}
div.logo-nav {
  width:180px;
}
.wrapper {
  height: 100%;
  margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}
.change-width {
  width:150px;
}
div.main-container {
  padding-top:40px;
  width:90%;
  margin-left:auto;
  margin-right:auto;
}
input[type="submit"] {
  color:white;
  background-color: #EE352A;
  border-radius: 8px;
  border-color:#EE352A;

}

h2#tagline {
font-size: 15px;
text-align: center;
color:white;
margin-bottom: 20px;
}
.restaurant-title {
  display:inline-block;
}
.sticky{
    position:fixed;
    z-index:999;
}
.landing-page-container {
  margin:0;
  background-color: #EE352A;
  float:right;
}

.landing-page {
  background-color:#EE352A;
}
#foodseelogo-lrg {
  text-align: center;
  max-width: 500px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-top: 25px;
  margin-bottom: 75px;
}
img#restaurant-icon {
  width:52px;
  margin-top: 5px;
}
a#instagram-login {
  margin-left: auto;
  margin-right: auto;
  display:block;
  text-align: center;
  color:white;
  width:250px;
  background-color:#5980A2;
  padding:5px;
  border-radius:10px;
  #instagram-icon {
    width:50px;
    margin-right: 10px;
    margin-left: -10px;
  }
}
.width-change {
  width:300px;
}


.footer {
  text-align: center;
  color:white;
  background-color:  #EE352A;
  bottom:0;
  position:fixed;
  width:100%;
}
.footer, .push {
  height: 60px; /* '.push' must be the same height as 'footer' */
}
.footer span a {
  color:white;
  opacity: 0.5;
  line-height: 50px;
}
img#camera-button {
  width:80px;
  margin-top: -20px;
  padding:8px;
}
img#my-photos-button {
width:60px;
margin-top: -5px;

}

div.header-bg-color {
  background-color:  #EE352A;
}
li.hamburger-li {
  list-style: none;
}
div.logo-nav {

}
img#search-icon {
display:none;
}
section.top-bar-section {
  margin-top: -50px;
}
 div.landing-page-main-container {
width:1000px;
margin:auto;
 }
 div.divider {
  height:150px;
 }
 div.app-store > div.wrapper-apps {
  display:inline-block;
  width:150px;
  float:right;
 }
 
 div.app-store > div.wrapper-apps > div > img {
  display:inline-block;
  float:none;
 }
 div.app-store > div.wrapper-apps{
  width:400px;
 }
 .store-image {
  float:left;
  margin-top:3px;
 }
 .phone-image-container  {
  float:left;
 }
 .responsive-button {
  display:none;
 }
@media screen and (max-width: 640px) {
  input.submit-selection {
    display:block;
    
  }
  .desktop-button {
    display:none;
  }
  .responsive-button {
   display:block;
  }

  div.landing-page-container {
    float:none;
    width:400px;
    margin-left: auto;
    margin-right: auto;
  }
  div.landing-page-main-container {
    width:100%;
  }
  div.divider, div.app-store, div.phone-image-container, div.phone-image-container > div {
    display:none;
    float:none;
  }

  img#restaurant-icon {
    width:50px;
    margin-top: 0px;
  }
  f-topbar-fixed .top-bar-section .dropdown li a {
    background: #EE352A;
  }
  div.logo-nav {
    width:33%;
    margin-left:-10%;
  }
  img#search-icon {
    display:inline-block;
    margin-bottom: 0px;
    margin-left:20%;
  }
  img.nav-logo {
    width: 100px;
    margin-bottom: 10px;
    margin-left:50px;
  }

 div.logo-nav {
   width:180px;
 }
  img#my-photos-button {
  width:55px;
  margin-top: -5px;

  }
  img#hamburger-image {
   margin-right:2.7em;
  }
  div.burger {
    position:absolute;
    top:0;
    right:0;
    margin:10px;
    
    margin:0 0% 0px 0;
  }
 .wrapper {
   height: 100%;
   margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
 }
 
  .footer, .push {
    height: 53px; /* '.push' must be the same height as 'footer' */
  }
  img#camera-button {
    width:70px;
    padding:5px;
  }
  a#instagram-login {
    padding:10px;
    width:200px;
  }
  a#instagram-login #instagram-icon {
    width:25px;
    padding-left:5px;
  }
  #foodseelogo-lrg {
    max-width:275px;
   
  }
}