.restaurant-title a:hover {
text-decoration: underline;
}
li.category {
  list-style: none;
  color: #727272;
  opacity: 0.9;
  display:inline;
  a {
    color:darkgrey;
  }
}
#googleMap {
  width:200px;
  height:200px;
  float:right;
}
.restaurant div {
  padding-bottom: 20px;
}
ul.restaurant-categories-show {
margin:auto;
margin-bottom: 20px;
}

@media screen and (max-width: 600px) {

#googleMap {
  display:none;
}

  .responsive-categories {
    display:none;
  }
}
