// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search-button {
  text-align: center;
  font-size: 0.7rem;
  padding:0;
}
.load-message {
  display:none;
}
.load-message {
  margin-top:10px;
  text-align: center;
  font-weight: bold;
  color: #F76B1C;
}
@media only screen and (max-width: 640px) {
  #search-button {
    text-align: center;
    font-size: 0.7rem;
    padding:0;
  }
}
input#submit-selection {
  background-color:#EE352A;
  color:white;
  border-radius: 5px;
}
div#search-api-results form label > div.image-container {
  background-color:#EE352A;
  display: inline-block;
}

div#search-api-results form div.image-container:hover img {
  opacity: 0.6;
  background-color:#EE352A;
} 
div#search-api-results form div.image-container img:hover {
  opacity: 0.6;
  background-color:#EE352A;
} 
div#search-api-results form > label, > div, > li, > input {
  display: inline-block;
  background-color:#EE352A;
}
div#search-api-results li {
  display: inline-block;
}
div#search-api-results form div.image-container:hover img:hover {
  opacity: 0.6;
  background-color:#EE352A;
}

