// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search-button {
  text-align: center;
  font-size: 1rem;
  padding:0;
  width:150px;
}
.search-landing-content-container {
  max-width:1100px;
}
.load-message {
  display:none;
}
.search-restaurants {
  width:100%;
  height:600px;
}
.search-restaurants-container {
  float:right;
  max-width:40%
}
.recent-restaurants {
  margin-left: -20px;
}
div.row.hashtags-show-image  { padding:5px; max-width: 600px; }
.load-message {
  margin-top:10px;
  text-align: center;
  font-weight: bold;
  color: #EE352A;
}
div.slider-size {
  float:left;
  max-width: 600px;
  max-height: 600px;
}

img.slider-image { overflow:hidden;max-width:400px; margin-left: auto;
margin-right: auto; }
.slider-caption {
  
  a {
    color:#EE352A;
    font-weight:bold;
    font-size:16px;
  }
  a:hover {
   text-decoration: underline; 
  }
}
#search-button {
  text-align: center;
  font-size: 1rem;
  margin-left:5px;
  margin-top: 3px;
  line-height: inherit;
}
@media only screen and (max-width: 1000px) {
  div.slider-size {
   float:none;
   margin-left: auto;
   margin-right: auto;
  }
  .search-restaurants-container {display:none;}
}
@media only screen and (max-width: 640px) {

  div.slider-size {
    max-width: 400px;
    max-height: 400px;
  }
  #search-api-results {
    margin-left:4%;
  }
}
.hashtags-show-image { 

a.tags-slider { 
 color:black;
font-size:12px;
font-weight:normal;

 ;}
}

.orbit-container .orbit-slides-container > * .orbit-caption {
  top:-23px;bottom:auto;
  border-radius:0px;
  padding:15px;
}
.orbit-caption.hashtags-show-image.slider-caption {

  border:1px solid #e3e3e3;
}
input#submit-selection {
  background-color:#EE352A;
  color:white;
  border-radius: 5px;
}
div#search-api-results form label > div.image-container {
  background-color:#EE352A;
  display: inline-block;
}

div#search-api-results form div.image-container:hover img {
  opacity: 0.6;
  background-color:#EE352A;
} 
div#search-api-results form div.image-container img:hover {
  opacity: 0.6;
  background-color:#EE352A;
} 
div#search-api-results form > label, > div, > li, > input {
  display: inline-block;
  background-color:#EE352A;
}
div#search-api-results li {
  display: inline-block;
}
div#search-api-results form div.image-container:hover img:hover {
  opacity: 0.6;
  background-color:#EE352A;
}

