// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.load-message {
  display:none;
}
.load-message {
  margin-top:10px;
  text-align: center;
  font-weight: bold;
  color: #F76B1C;
}