// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.my-photos-list {
  padding-left: 15px;
}
div.user-nav {
  background-color:#5980a2;

  width:100%;
  
}
div.my-account-buttons a.button.expand  {
  background-color: #EE352A;
  width:200px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

div.my-account-buttons a.button.expand:hover {
  background-color:#5980a2;
}
div.my-account-link {
  a {
    font-weight:bold;
    color:white;
  }
  a:hover {
    opacity:0.6;
  }
}
@media screen and (max-width: 900px) {

  }
@media screen and (max-width: 620px) {
  div.my-account-buttons a.button.expand {
    background-color: #EE352A;
    width:100%;
  }
  div.user-nav {
    background-color:#5980a2;
  }
  div.my-account-link {
    padding-top:10px;
    padding-bottom: 10px;
    a {
      font-size:16px;
   
    }

  }
}