<ul>
<% @images.shuffle.each do |image| %>

    <li class="list-images"><%= link_to image do %><%= image_tag image.thumbnail_url %><% end %>

    <% if current_user_admin? %>
    <%= link_to 'Edit', edit_image_path(image) %>
 <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %>
</li>
<% end %>
</ul>